{% extends 'base.html' %}

{% block title %}
    Sensor list and AFGAIN
{% endblock %}

{% block content %}

{% component_js_dependencies %}
{% component_css_dependencies %}
<div class="content">
    <h1>ANOTHER DEPLOY</h1>
        {% for sensor in sensors %}
            <div class="block block-sensor">
                <div class="block-title">
                    <a href="{% url 'sensor_detail' sensor.pk %}">{{ sensor.location }}</a>
                </div>
                <div class="block-content block-image">
                    {% component "graph" sensor=sensor %}
                </div>
            </div>
            {% endfor %}
</div>
{% endblock %}